<footer id="stache-footer">
  <nav class="container">
    <h3>
      <a href="#">{{ config.stache.site.title }}</a>
    </h3>
    {{> menu navigation.patterns.footer }}
  </nav>
</footer>
<script src="https://sky.blackbaudcdn.net/skyux/{{{ config.stache.skyux.version }}}/js/sky-bundle.min.js"></script>
{{#each assets.js }}
<script src="{{url}}"></script>
{{/each}}
<script>
(function (angular, document) {
  'use strict';
  angular.element(document).ready(function () {
      angular.bootstrap(document, [{{{ join config.stache.modules ',' }}}]);
  });
}(window.angular, document));
</script>
